/* src/components/Banner.css */
.banner {
  background-color: #f8f9fa;
  max-width: 1200px;
  margin: 0 auto; /* Center the container horizontally */
}

.text-container {
  text-align: left;
}

.text-primary {
  color: red;
}

.text-danger {
  color: black;
}

.animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
