body {
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
}

.banner .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .text-container, .banner .animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  .text-container {
    text-align: left;
  }
  
  .text-primary {
    color: red;
  }
  
  .text-danger {
    color: black;
  }

  @media (max-width: 767.98px) {
    .banner {
      flex-direction: column;
      text-align: center;
    }
  
    .animation-container {
      justify-content: center;
      margin-top: 1rem;
    }
  }
  